.dialog-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #dec
}

.dialog-title {
    height: 44px;
    line-height: 44px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.dialog-context {
    flex: 1;
    padding: 5px 15px;
    box-sizing: border-box;
}